.imgPresentation {
  position: relative;
  left: 18%;
  margin: $margin10;
  height: 60%;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 4px 8px #585858);
}

p {
  margin: $margin10;
  text-align: center;
}

h1 {
  text-align: center;
}



.card {
  width: 55vh;
}

@media (max-width: 768px) {
  .row {
    position: relative;
    margin-left: 10%;
  }
}
