
$textCenter : center;

.containerFooter{
    position: relative;
    margin-top: 30%;
    border-style: solid; 
    margin: 10px;

}

.row{
    margin-left: 35%;
}

h4{
    text-align: $textCenter;
    top: 20px;
}