$textCenter: center;

.containerFooter {
  position: relative;
  margin-top: 30%;
  border-style: solid;
  margin: 10px;

  .row {
    margin-left: 35%;
  }

  a {
    margin: 3px;
    text-decoration: none;
  }

  a:hover {
    filter: drop-shadow(2px 4px 8px #5348e7);
  }

}

h4 {
  text-align: $textCenter;
  top: 20px;
}
