$textCenter: center;

.containerFooter {
  position: relative;
  margin-top: 30%;
  border-style: solid;
  margin: 10px;

  .row {
    margin-left: 3%;
  }

  a {
    margin: 3px;
    text-decoration: none;
  }

  .facebook{
    color: hsl(214, 100%, 59%);
   }

   .instagram{
     color: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D)
   }
}

h4 {
  text-align: $textCenter;
  top: 20px;
}
