@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Staatliches&display=swap');
$margin10: 10px;

.container{
    display: flex;
    position: relative;
    margin-top: auto;

    margin: $margin10;
    a{
        margin: $margin10;
        padding:10px; 
        text-decoration: none;
        // position: relative;
        // margin-left: 65%;
        text-align: center;
        font-family: 'Staatliches', cursive;
    }

    :hover{
        color:black;
        filter: drop-shadow(1px 1px 1px #cccbcb);
        
    }

}