h3 {
  text-align: center;
}


.paragrapheProject {
  margin: 10px auto auto;
}

.overflow {
  transform: scale(1);
  overflow: hidden;
  position: relative;
  right: 10px;
  :hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
}

a {
  margin: $margin10;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Staatliches", cursive;
}

.urlGitHub{
  position: relative;
  left: 73px;
}

