$margin10: 10px;
$padding : 10px;

h3 {
  text-align: center;
}

.containerProject {
  display: flex;
  position: relative;
  // left: 8px;
  margin: 25px 25px;
  a {
    margin: $margin10;
    text-decoration: none;
    // position: relative;
    // margin-left: 65%;
    text-align: center;
    font-family: "Staatliches", cursive;
  }

  :after {
    color: black;
    filter: drop-shadow(10px 10px 10px #0e0e0e);
  }
}

#paragrapheProject {
  margin: 10px auto auto;
  padding: 10%;
}

.overflow {
  transform: scale(0.9);
  overflow: hidden;
  position: relative;
  right: 10px;
  :hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
}

a {
  margin: $margin10;
  padding: $padding ;
  text-decoration: none;
  text-align: center;
  font-family: "Staatliches", cursive;
}

#card-project{
  padding: $padding ;
  width: 30rem;
}

.urlGitHub {
  position: relative;
  left: 33%;
}

#row-project{
  margin-left: 9%;
}

@media (max-width: 768px) {
  #card-project {
    padding: $padding;
    margin: 4px 15px 17px;
    right: 2%;
    width: 18rem;
  }
}
