h3 {
  text-align: center;
}

// .url{
//     display: flex;
//     position: relative;
//     left: 3%;
// }

.paragrapheProject {
  margin: 10px auto auto;
}

// // #projectCard{
// //     width: 75vh;
// //     position: relative;
// //     right:5%
// // }

.overflow {
  transform: scale(1);
  overflow: hidden;
  position: relative;
  right: 10px;
  :hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
}

a {
  margin: $margin10;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-family: "Staatliches", cursive;
}

.urlGitHub{
  position: relative;
  left: 33px;
}

// :after {
//     color:black;
//     filter: drop-shadow(10px 10px 10px #0e0e0e);
// }
