@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Staatliches&display=swap');
@import "./navigation";
@import "./footer";
@import "./about";
@import "./project";
@import "./contact";

$margin10: 10px;

body{
  background: rgb(58,179,180);
  background: linear-gradient(90deg, rgba(58,179,180,1) 0%, rgba(251,253,29,1) 50%, rgba(252,176,69,1) 100%);
}

#imgHome {
  margin: $margin10;
  color: white;
  height: 100%;
  width: 98%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
}


p {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  margin: 20px;
  color: black;
}


h1{
  font-family: 'Staatliches', cursive;
}

.row {
  display: flex;
  filter: drop-shadow(2px 2px 2px);
  grid-gap: 30px;
  margin: $margin10;
  position: relative;
  margin-left: 7%;
}

.card {
  width:20rem;
}

.card:hover{
  filter: drop-shadow(10px 10px 10px #0e0e0e);
  transition: 0.5s ease
}


@media (max-width: 400px){
  .row{
    position: relative; 
    margin-left: -13px;
    
  }
}