@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Staatliches&display=swap');
@import "./navigation";
@import "./footer";
@import "./about";
@import "./project";
@import "./contact";

$margin10: 10px;

body{
  background-color:#c4c4c4;
}

// #imgHome {
//   margin: $margin10;
//   color: white;
//   height: 100%;
//   width: 98%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   // opacity: 0.4;
// }


p {
  font-family: 'Staatliches', cursive;
  font-size: 20px;
  margin: 20px;
  color: black;
}

.ParagrapheTypical{
  margin: $margin10;
  font-size: 5em;
  position: relative;
  margin-top:5%;
  text-shadow: 1px 1px 1px rgb(39, 35, 35) ;
}

h1{
  font-family: 'Staatliches', cursive;
  text-shadow: 1px 2px 1px #535353;
  text-align: center;
}

.homePage{
  position: relative;
  margin-top:10%;
}

.row {
  display: flex;
  filter: drop-shadow(2px 2px 2px);
  grid-gap: 30px;
  margin: $margin10;
  position: relative;
  margin-left: 7%;
}

.card {
  width:20rem;
}

.card:hover{
  filter: drop-shadow(10px 10px 10px #0e0e0e);
  transition: 0.5s ease
}

@media (max-width: 768px){
  #rowAbout{
    position: relative; 
    margin: 10px 9%;
  }

  .card{
    margin: $margin10 20px;
  }
}

@media (max-width: 400px){
   #rowCompetence{
    position: relative; 
    margin: 3% 24%;;
  }
}